@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-switch/dist/css/bootstrap3/react-bootstrap-switch.css";
@import "nprogress";

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  line-height: 24px;
}

ul.zipfile-status-report {
  list-style: none;
  li {
    position: relative;
    z-index: 1;
    &::before {
      content: 'X';
      display: inline-block;
      position: absolute;
      z-index: -1;
      color: transparent;
      left: -1.5em;
      padding-right: 100%;
      background-size: contain;
      background-image: url('/icons/cross.svg');
      background-repeat: no-repeat;
    }
    &.success::before {
      background-image: url('/icons/check-mark.svg');
    }
  }
}